<ul class="nav nav-tabs nav-justified" id="genreList">
  <li role="presentation"><a href="/getvideos/action">Action</a></li>
  <li role="presentation"><a href="/getvideos/comedy">Comedy</a></li>
  <li role="presentation"><a href="/getvideos/drama">Drama</a></li>
  <li role="presentation"><a href="/getvideos/horror">Horror</a></li>
  <li role="presentation"><a href="/getvideos/sci-fi">Sci-Fi</a></li>
  <li role="presentation"><a href="/getvideos/fantasy">Fantasy</a></li>
</ul>
